<section>
  <h1>About Me</h1>
  <p>
I've fell in love with programming on the very first day I've seen the computer. From there on , programming has been passion, hobby and literally everything. I am <em>Test Driven</em>, committed to write <strong>Clean Code</strong>
</p>

<p>I am an aspiring <em>Software Craftsman</em>, working hard and smart to become a <em>Better Programmer</em> and I enjoy learning, exploring, getting hands dirty on new and advanced technologies. </p> 

<p>I adore changes, challenges, and things which keep me engaged and pushing me to the next level. I believe there is always a scope for getting better and it has no destination. I am fond of Knowledge sharing and mentoring</p>

  <img alt="" height="91" id="Image2_img" src="http://4.bp.blogspot.com/-7NyiRNfxWGY/T9iU0JopacI/AAAAAAAAAbY/8HerSIg_NCU/s250/big-mvbbutton.png" width="200" style="visibility: visible;">
  <h1>I'm Test Driven</h1>
  <img alt="I'm Test Driven" height="124" id="Image1_img" src="http://3.bp.blogspot.com/-Jf9x3LF2EjE/Th_8jAGNiHI/AAAAAAAAAH0/S0852BSoz80/s210/06_Red_Green_Refactor.jpg" width="210" style="visibility: visible;">
</section>