<section>
  <h1>About Me</h1>
  <p>Passionate and enthusiastic application developer, ardent lover of programming. Adores exploring and learning new and advanced technologies. </p>
  <img alt="" height="91" id="Image2_img" src="http://4.bp.blogspot.com/-7NyiRNfxWGY/T9iU0JopacI/AAAAAAAAAbY/8HerSIg_NCU/s250/big-mvbbutton.png" width="200" style="visibility: visible;">
  <h2>I'm Test Driven</h2>
  <img alt="I'm Test Driven" height="124" id="Image1_img" src="http://3.bp.blogspot.com/-Jf9x3LF2EjE/Th_8jAGNiHI/AAAAAAAAAH0/S0852BSoz80/s210/06_Red_Green_Refactor.jpg" width="210" style="visibility: visible;">
</section>